body {
    text-align: center;
}

#canvasContainer {
	width: 1000px;
    height:707px;
    margin: 0px auto;
    border: 1px solid red;
    position: relative;
}

#game {
	display: block;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}
#overlay {
	position: absolute;
    left:0px;
    top:0px;
    z-index: 2;
}